# Default ignore all
*

# Whitelist tracked files
!.bash_profile
!.bashrc
!.vimrc
!.gnupg/gpg.conf
!.git
!.gitconfig
!.gitignore
!.hgrc
!.multitailrc
!.screenrc
!.vim
!.vim/colors
!.vim/colors/dezwart.vim
!.vim/bundle
!.vim/bundle/vim-pathogen
!.vim/bundle/vim-puppet
!.vim/bundle/vim-scala
!.sbt
!.sbt/plugins
!.sbt/plugins/build.sbt
!.sbt/plugins/plugins.sbt
!.irssi
!.irssi/config
!.irssi/garden.theme
!bin
!bin/RBackup.sh
!.rspec
