# Default ignore all
*

# Whitelist tracked files
!.bash_profile
!.bashrc
!.vimrc
!.gnupg/gpg.conf
!.git
!.gitconfig
!.gitignore
!.hgrc
!.multitailrc
!.screenrc
!.vim
!.vim/colors
!.vim/colors/dezwart.vim
!.vim/bundle
!bin
!bin/RBackup.sh
